@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
}
.top-section{
  background-color: #444;
  color: #fff;
}
.main-heading{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}
.sub-heading{
  text-align: center;
  padding: 120px;
}

/* Containers CSS start here */
.index-container{
  padding-bottom: 300px;
}
/* Containers CSS ending here */

/* Navigation bar CSS start here */
.wrapper{
  background: #444;
  position: fixed;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}
/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

/* Navigation Bar CSS ending here */


.index-paragraph{
  text-align: center;
  padding: 50px;
}

/* about section CSS starts here */
.about-info{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.about-img{
  border: 2px solid black;
  border-radius: 90px;
  float: left;
  width: 25%;
  margin-right: 30px;
}
/* about section CSS ending here */



.image-index-container{
  text-align: center;
  padding-bottom: 50px;
}
.drivers-container{
  padding-bottom: 190vh;
}
.news_container{
  background-color: #323c4e;
  border-radius: 30px;
  padding: 20px;
  color: #fff;
}
.news_info_container{
  padding-bottom: 50px;
  padding: 100px;
}
.main_paragraph{
  font-size: 0.6cm;
  text-align: center;
  padding: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.form-container{
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 150px;
  margin-right: 150px;
}

.driver-img-container{
  text-align: center;
  padding: 50px;
}
.driver-img{
  border: 2px solid black;
  border-radius: 30px;
  height: 300px;
  width: 300px;
}
.drivers-information{
  text-align: center;
  padding-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.sub_heading{
  text-align: center;
  padding: 50px;
}
h2{
  padding-left: 20px;
}
.sub_h3{
  text-align: center;
  padding: 50px;
}
h4{
  padding-top: 20px;
  text-align: center;
}

/* 2 column CSS start here */
.column-2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}
.row-2:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column-2 {
    width: 100%;
  }
}
/* 2 column CSS ending here */

/* 3 column CSS start here */
.column-3 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}
.row-3:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column-3 {
    width: 100%;
  }
}
/* 3 column CSS ending here */

/* Button CSS start here */
.button_section{
  text-align: center;
  padding: 50px;
}
.index_button{
  background-color: #323c4e;
  border-radius: 50px;
  padding: 50px;
}
.index_button_hyperlink{
  color: #fff;
  font-size: 0.6cm;
  font-weight: bolder;
  text-decoration: none;
}


/* Button CSS ending here */


/* Form CSS start here */
input[type=text], input[type=email], input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #5383d3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.submit-button{
  text-align: center;
}
/* Form CSS ending here */

/* Slideshow CSS start here */
.slideshow-container {
  padding: 0;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Slideshow CSS ending here */

/* Footer CSS start here */
.footer-distributed{
    background: #444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
  }
  section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  /* Footer left */
  .footer-distributed .footer-left{
    float: left;
  }
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0 0 10px;
  }
  .footer-distributed h3 span{
    color:  #5383d3;
  }
  /* Footer links */
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
  }
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  /* Footer social icons */
  .footer-distributed .footer-icons{
    margin-top: 40px;
  }
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  /* Footer Right */
  .footer-distributed .footer-right{
    float: right;
  }
  .footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
  }
  /* The contact form */
  .footer-distributed form{
    display: inline-block;
  }
  .footer-distributed form input,
  .footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
  
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;
  
    width: 400px;
    padding: 18px;
  }
  .footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
  }
  .footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
  }
  .footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
  }
  .footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
  }
  .footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
  }
  .footer-distributed form button{
    border-radius: 3px;
    background-color:  #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
  }
  @media (max-width: 1000px) {
    .footer-distributed {
      font: bold 14px sans-serif;
    }
    .footer-distributed .footer-company-name{
      font-size: 12px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea{
      width: 250px;
    }
    .footer-distributed form button{
      padding: 10px 35px;
    }
  }
  @media (max-width: 800px) {
    .footer-distributed{
      padding: 30px;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
      float: none;
      max-width: 300px;
      margin: 0 auto;
    }
    .footer-distributed .footer-left{
      margin-bottom: 40px;
    }
    .footer-distributed form{
      margin-top: 30px;
    }
    .footer-distributed form{
      display: block;
    }
    .footer-distributed form button{
      float: none;
    }
  }
/* Footer CSS ending here */